@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
  }


  .navy-bar {
    text-align: center;
    padding: 10px;
    background: none;
  }

  .navy-bar img {
    width: 60px;
    height: auto;
    border: 2px solid black;
    border-radius: 100px;
  }

  #toggle-button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 600;
  }

  .navy-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .navy-item {
    margin: 10px;
    padding: 10px;
    background: none;
    color: #0074A9;
    border: none;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.5s ease;
    position: relative;
    font-weight: 600;
    overflow: hidden;
    position: relative;
  }

  .navy-items.visible {
    max-height: 500px;
    opacity: 1;
  }

  .navy-item.visible {
    transform: scale(1);
  }

  .hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  .navy-items.visible .navy-item {
    animation: slideIn 0.5s ease forwards;
  }

  .hidden .navy-item {
    animation: slideOut 0.5s ease forwards;
  }

  .navy-item:hover {
    color: #c84747;
  }

  .navy-item:hover::before {
    content: '';
    background: linear-gradient(90deg, transparent 0%, transparent 0%, #c84747 0%, #c84747 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    animation: underline 0.3s ease forwards;
  }

  @keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  #toggle-button:hover {
    color: #c84747;
  }

  /*******************************************************************/

.home-page{
  margin: 100px;
}

.Rectangle {
  width: 600px;
  height: 600px;
  left: 200px;
  top: -40px;
  box-shadow: 4px 4px 4px #000;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out; 
  cursor: url(../Assets/Icons/stethoscope.png) auto;
  }
  
  .Rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.Rectangle:hover {
  transform: scale(1.1);
}

.Rectangle-2 {
  position: relative;
  top: 80px;
  left: 80px;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  border-radius: 30px;
  overflow: hidden; 
}

.Rectangle-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /
}


.Rectangle-2:hover {
  transform: scale(1.1);
}


.container.with-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.text-side {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.centered-content {
  flex: 1;
}

.centered-image {
  display: block;
  max-width: 100%; 
  height: auto; 
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 


/**********************************************************************************/


.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 4em;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after{
  content: '';
  position: relative;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}

.heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  transition: 0.5s ease;
}

.about-image:hover img{
  transform: scale(1.2);
}

.about-content {
  flex: 1;
}

.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.about-content .read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
}

.about-content .read-more:hover{
  background-color: #3e8e41;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
  transform: scale3d(0.1, 0.1, 0.1);
  transition: opacity 0.5s, transform 0.5s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/*****************************************************************************************/

.container-contact {
  max-width: 768px; /* Set a fixed maximum width of 768px */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

  
      .contact-section, .appointment-section {
          display: none;
          opacity: 0; 
          transition: opacity 0.5s;
      }
  
      .active-section {
          display: block;
          opacity: 1; /* Fade in when active */
      }
  
      label {
          font-weight: bold;
      }
  
      input[type="text"],
      input[type="email"],
      input[type="date"],
      input[type="text"].small,
      input[type="date"].small,
      textarea,
      select,
      input[type="file"] {
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          transition: border 0.3s, box-shadow 0.3s;
          border-radius: 5px;
      }
  
      input[type="text"].small,
      input[type="date"].small {
          width: 100px;
          height: 100px;
      }
  
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="date"]:focus,
      textarea:focus,
      select:focus,
      input[type="file"]:focus,
      input[type="text"].small:focus,
      input[type="date"].small:focus {
          border: 2px solid #007BFF;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
  
      button {
          background-color: #007BFF;
          color: #fff;
          margin: 0 auto;
          display: block;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          width: 100%;
      }
  
      button:hover {
          background-color: #0056b3;
      }
  
      .details {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 20px;
      }
  
      .details div {
          width: 100%;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 10px;
          text-align: center;
      }
  
      .details img {
          width: 40px;
          height: 40px;
      }
  
      .details h1 {
          font-size: 18px;
          margin-top: 10px;
      }
  
      .details p {
          font-size: 14px;
          margin-top: 10px;
      }
  
      /* Add a simple fade-in animation to the forms */
      .contact-section.active-section,
      .appointment-section.active-section {
          animation: fadeIn 0.5s;
      }
  
      @keyframes fadeIn {
          from {
              opacity: 0;
          }
          to {
              opacity: 1;
          }
      }
  
      @media (max-width: 768px) {
  .container-contact {
      max-width: 100%;
      padding: 10px; 
  }
  
          input[type="text"],
          input[type="email"],
          input[type="date"],
          input[type="text"].small,
          input[type="date"].small,
          textarea,
          select,
          input[type="file"] {
              width: 100%;
              padding: 10px;
              margin: 5px 0;
              transition: border 0.3s, box-shadow 0.3s;
              border-radius: 5px;
          }
  
          button {
              width: 100%;
          }
  
          .details {
              flex-direction: column;
              align-items: center;
          }
  
          .details div {
              width: 100%;
              margin-top: 10px;
          }
      }


/*****************************************************************************************/
@media screen and (max-width: 768px) {

  .home-page{
    margin: 0px;
  }

  .Rectangle, .Rectangle-2 {
    left: 0;
    top: 0;
}

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .container.with-background {
    flex-direction: column;
    text-align: center;
  }

  .text-side {
    padding: 20px;
  }

  .centered-content {
      padding: 20px;
  }

  .heading{
    margin-top: 80px;
      padding: 0px 20px;
  }

  .heading h1{
      font-size: 36px;
  }

  .heading p{
      font-size: 17px;
      margin-bottom: 0px;
  }

  .container{
      padding: 0px;
  }

  .about{
      padding: 20px;
      flex-direction: column;
  }

  .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
  }

  .about-content p {
      padding: 0px;
      font-size: 16px;
  }

  .about-content .read-more{
      font-size: 16px;
  }
}
